SQL_DATABASE=
SQL_USERNAME=postgres
SQL_PASSWORD=
SQL_HOST=127.0.0.1
SQL_PORT=5432
RAILS_SERVE_STATIC_FILES=
RAILS_MASTER_KEY=
RACK_ENV=
PORT=
CURRENCYLAYER_ACCESS_KEY=
CURRENCYLAYER_CACHE='tmp/currencylayer'
CURRENCYLAYER_SOURCE=USD
CURRENCYLAYER_CURRENCIES=EUR,CHF
